.admin-page-container {
	padding: 1rem;

	aspect-ratio: 900/600;
	height: 100vh;
	width: 100%;
	overflow-y: scroll;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	background-image: url("../../../assets/images/stacked-waves-haikei\ \(5\).svg");

	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 2rem;
}

.admin-header {
	font-size: 4rem;
	margin: 0;
	border-bottom: 3px solid black;
}

.cohort-form {
	display: inline-block;
	margin: 0 auto;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	text-align: center;
	gap: 1rem;

	& input {
		padding: 0.3rem 1rem;
		border-radius: 5px;
		border: none;
	}
}

@media only screen and (max-width: 600px) {
	.admin-page-container {
		padding: 3px;
	}
}
