.header {
	width: 100%;
	height: 5rem;
	text-align: center;

	&__title {
		display: inline-block;
		font-size: 4rem;
		border-bottom: 3px solid black;
		margin: 0;
		margin-left: -5rem;
		color: black;
		word-spacing: 0.3ch;
	}
}

@media only screen and (max-width: 600px) {
	.header {
		&__title {
			margin-left: 0;
			font-size: 3rem;
		}
	}
}
