.login-layout {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;

	&__form-box {
		flex: 7;
		display: flex;
		justify-content: center;
		padding-top: 5rem;
	}

	&__image-box {
		flex: 5;

		@media only screen and (max-width: 1000px) {
			display: none;
		}
	}

	&__hero-image {
		flex: 1;
		height: 100%;
		object-fit: cover;
		object-position: 30%;
	}
}
